*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
#body{
  background-color: sienna;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100px;
}
h1{
  font-size: 100px;
}
button{
  margin: 10px;
}
mat-slider {
  width: 400px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
ul {
  list-style-type: none;
  margin-top: 4px;
}
#buttonTop{
  position: absolute;
  top: 10px;
  left: 10px;
}
#savebutton{
  width: 100px;
}
#valuation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 500px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#timer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 20px;
}
