<div id="body" style="background-image: url('assets/pictures/shitRound.png');">
  <button id="buttonTop" mat-raised-button color="basic" routerLink="/statistics">Statistics</button>
  <div id="timer">
    <h1 id="title">Shit-O-Meter</h1>
    <h2>Musst du auf Klo?</h2>
    <h2>Stoppe die Zeit und bewerte deinen Stuhlgang!</h2>
    <h1> Uhrzeit: {{filteredDate}}</h1>
    <h2 >{{startTimetext}}</h2>
    <div>
      <button [disabled]="isSaved" mat-raised-button color="primary" (click)="start()">Start</button>
      <button [disabled]="!isRunning" mat-raised-button color="warn" (click)="stop()">Stop</button>
    </div>
  </div>
  <div id="valuation" *ngIf="isStopped">
    <h3>Wie war dein Erlebniss?</h3>
    <mat-slider
      thumbLabel
      tickInterval="1000"
      step="1"
      min="0"
      max="10"
      aria-label="units"
      [(ngModel)]="Slider"></mat-slider>
    <h3>Welche Art?</h3>
    <section class="example-section">
      <mat-checkbox class="example-margin" (change)="checkbox = !checkbox" [disabled]="checkbox2">Gross: 💩</mat-checkbox>
      <mat-checkbox class="example-margin" (change)="checkbox2 = !checkbox2" [disabled]="checkbox">Klein: 🌊</mat-checkbox>
    </section>
    <button id="savebutton" [disabled]="isRunning || !isSaved || !checkbox && !checkbox2 || !Slider" mat-raised-button color="accent" (click)="save();">Speichern</button>
  </div>
</div>
