<div id="body" style="background-image: url('assets/pictures/shitRound.png');">
  <button id="buttonTop" mat-raised-button color="basic" routerLink="/dashboard">Dashboard</button>
  <h1 class="tableLength" *ngIf="entries">{{entries.length}} Stuhlgänge</h1>
  <h1 class="tableLength" *ngIf="!entries">0 Stuhlgänge</h1>
  <table id="table">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Dauer</th>
      <th>Bewertung</th>
      <th>Art</th>
    </tr>
    </thead>
    <tr *ngFor="let entrys of entries">
      <td><span>{{entrys.date}}</span></td>
      <td><span>{{entrys.time}}</span></td>
      <td><span>{{entrys.valuation}}</span></td>
      <td><span *ngIf="entrys.bigOrSmall == 1">🌊</span><span *ngIf="entrys.bigOrSmall == 0">💩</span></td>
    </tr>
    <div *ngIf="!entries" id="noData">
      <mat-spinner [diameter]="30" color="warn"></mat-spinner>&nbsp; Keine Scheiss-Daten vorhanden :(
    </div>
  </table>
  <button *ngIf="entries" mat-raised-button color="warn" (click)="deleteTable()">Daten löschen</button>
  <div class="charts">
    <h2>Deine Bewertungen</h2>
    <ngx-charts-line-chart
      style="margin: 20px;"
      [view]="view"
      [results]="data"
      [xAxisLabel]="'Stuhlgänge'"
      [yAxisLabel]="'Bewertung'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
    </ngx-charts-line-chart>
    <h3>Durchschnitt: {{validationAverage}} / 10</h3>
  </div>
  <div class="charts">
    <h2>Deine Längen</h2>
    <form>
      <mat-form-field appearance="fill" >
        <mat-label>Zeiteinheit</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="Units" (ngModelChange)="refreshData()">
          <mat-option *ngFor="let units of timeUnits" [value]="units.value">
            {{units.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ngx-charts-bar-horizontal
      style="margin: 20px;"
      [view]="viewDuration"
      [scheme]="'vivid'"
      [results]="dataDuration"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Zeit in '+selectedValue"
      [yAxisLabel]="'Stuhlgänge'"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
    </ngx-charts-bar-horizontal>
    <h3>Durchschnitt: {{timeAverage}} {{selectedValue}}</h3>
  </div>
  <div class="charts">
    <h2>Deine Arten von WC-Gängen</h2>
    <div id="vertical">
      <ngx-charts-bar-vertical
        [view]="viewArt"
        [scheme]="'cool'"
        [results]="dataArt"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Art'"
        [yAxisLabel]="'Anzahl'"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
      <ngx-charts-pie-chart
        [view]="viewArt"
        [scheme]="'cool'"
        [results]="dataArtRound"
        [gradient]="true"
        [legend]="false"
        [labels]="true"
        [doughnut]="true"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-pie-chart>
    </div>
    <h3>Favorit: {{favoriteWay}}</h3>
  </div>
  <br><br><br>
</div>
