<div id="body">
  <button id="buttonTop" mat-raised-button color="basic" routerLink="/dashboard">Dashboard</button>
  <table id="table">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Dauer</th>
      <th>Bewertung</th>
      <th>Art</th>
    </tr>
    </thead>
    <tr *ngFor="let entrys of entries">
      <td><span>{{entrys.date}}</span></td>
      <td><span>{{entrys.time}}</span></td>
      <td><span>{{entrys.valuation}}</span></td>
      <td><span *ngIf="entrys.bigOrSmall == 1">Klein</span><span *ngIf="entrys.bigOrSmall == 0">Gross</span></td>
    </tr>
    <div *ngIf="!entries" id="noData">
      <mat-spinner [diameter]="30" color="warn"></mat-spinner>&nbsp; Keine Scheiss-Daten vorhanden :(
    </div>
  </table>
  <button *ngIf="entries" mat-raised-button color="warn" (click)="deleteTable()">Daten löschen</button>
</div>
