table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tableLength{
  margin-top: 100px;
  color: white;
}
button{
  margin: 10px;
}
td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: white;
  text-align: center;
}

thead, th{
  background-color: #dddddd;
  border: 1px solid black;
  padding: 8px;
}

#noData {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  margin-top: 40px;
  width: 50%;
  color: white;
  font-weight: bold;
}
#body{
  background-color: #A27349;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-size: 100px;
}
#buttonTop{
  position: fixed;
  top: 10px;
  left: 10px;
}
.charts{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 100px;
}
#vertical{
  display: flex;
  justify-content: center;
}
